<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.study.mapper.practice.member.PracMemberMapper">

<insert id="insertMember">
INSERT INTO Member(id, password)
VALUES(#{id}, #{password})
</insert>

<select id="getMembers" resultType="com.study.domain.member.MemberDto">
SELECT 
	id,
	password,
	inserted
FROM
	Member

</select>

<select id="getMember" resultType="com.study.domain.member.MemberDto">
SELECT 
	id,
	password,
	inserted
FROM
	Member
WHERE 
	id = #{id}

</select>
<update id="updateMembers">
UPDATE 
	Member
SET
	password = #{password}
WHERE
	id = #{id}
</update>

</mapper>