<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.study.mapper.member.MemberMapper">

<select id="selectByNickname" resultType="com.study.domain.member.MemberDto">
	SELECT 
		id,
		nickName,
		password,
		email,
		inserted
	FROM
		Member
	WHERE
		nickName = #{nickName}
</select>

<insert id="insert">
	INSERT INTO Member(
		id,
		nickName,
		password,
		email
	)
	VALUES(#{id}, #{nickName}, #{password}, #{email})

</insert>

<select id="selectAll" resultType="com.study.domain.member.MemberDto">
SELECT 
 	id,
 	'숨김' password,
 	email,
 	inserted
FROM
  	Member
ORDER BY
	id

</select>

<select id="showMemberInfo" resultType="com.study.domain.member.MemberDto">
SELECT 
 	id,
 	nickName,
 	email,
 	password,
 	email,
 	inserted
FROM
  	Member
WHERE id=#{id}
</select>

<select id="selectByEmail" resultType="com.study.domain.member.MemberDto">
	SELECT 
		id,
		password,
		email,
		inserted
	FROM
		Member
	WHERE
		email = #{email}
</select>


<update id="updateMemberInfo">
UPDATE 
	Member
SET 
	<if test="Password != null">
	password = #{password},
	</if>
	nickName = #{nickName},
	email = #{email}
WHERE 
	id= #{id}
</update>

<delete id="deleteMember">
DELETE FROM Member
WHERE id=#{id}
</delete>

</mapper>